body {
    text-align: center;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #aaa;
    padding: 10px;
    margin: 0;
}
table {
    font-size: 100%;
    padding: 0;
    margin: 0;
    border: 0 solid;
    border-collapse: collapse;
}
td {
    vertical-align: top;
    text-align: left;
    padding: 0 10px 0 0;
    border: 0 solid;
}
a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #0ff;
    text-decoration: underline;
}
.menu a.active {
    color: rgb(118, 223, 255);
}
.name {
    color: rgb(141, 233, 141) !important;
    white-space: nowrap;
}
.note {
    color: rgb(224, 169, 255) !important;
}
.yes {
    color: rgb(157, 223, 157) !important;
}
.no {
    color: rgb(247, 132, 132) !important;
}
.menu {
    text-align: center;
    font-size: 150%;
    padding: 20px 5px 30px 5px;
}
.center {
    text-align: center !important;
}
.page {
    text-align: left;
    display: inline-block;
    max-width: 800px;
}
.info-block {
    text-align: left;
    padding: 0 0 30px 0;
}
.info-image {
    width: 30%;
    height: auto;
    display: inline-block;
    margin: 0 2% 0 0;
    padding: 1%;
    vertical-align: middle;
    background-color: #ffffffdd;
    border-radius: 10px;
}
.desc {
    display: inline-block;
    width: 65%;
    vertical-align: middle;
}
.video {
    width: 100%;
    height: 400px;
}
.cmd
{
    padding: 5px 10px;
    margin: 10px 0;
    outline: 1px solid #777;
    font-size: 90%;
    text-align: left;
}
.footer {
    padding: 20px 0 20px 0;
    font-size: 80%;
}
.list {
    text-align: left;
}
.pins {
    margin-left: 20px;
}
@media (max-width: 500px) {
    tr {
        display: list-item;
    }
    td {
        display: inline-block;
    }
    ul, li { text-align: left; } 
    .menu {
        font-size: 130%;
        padding: 10px 5px 20px 5px;
    }
    .page {
        width: 98%;
    }
    .info-block {
        padding: 0 0 20px 0;
        text-align: center;
    }
    .info-image {
        width: 98%;
        margin: 0 0 20px 0;
    }
    .desc {
        width: 100%;
    }
}
